/* general css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

p {
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

.social img,
.budget .social-list img {
  max-width: none;
}

.btn,
button.btn {
  width: 140px;
  border: 4px solid;
  padding: 12px 21px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  background-color: transparent;
  cursor: pointer;
}

.btn.btn-primary,
.btn.btn.btn-secondary {
  border-color: #fec63e;
  color: #fec63e;
}

.btn.btn-primary:hover {
  border-color: #000;
  color: #000;
}

.btn.btn-secondary:hover {
  border-color: #fff;
  color: #fff;
}

.titleSection {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.1em;
}

.titleSection::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

.subtitle {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

.cta {
  text-align: center;
  padding-bottom: 60px;
}

.cta p {
  padding-bottom: 30px;
}
/* general css */

/* header */
header {
  width: 100%;
  /* height: 80px; */
  background: #fec63e;
  padding: 9px 0;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .container {
  display: flex;
  align-items: center;
}

.menu {
  text-align: right;
}

.menu-item {
  display: inline-flex;
  margin-left: 25px;
}

.menu-item a {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 20px 0;
}

.menu-item a:hover {
  color: #fff;
}

a.menu-item-active {
  border-color: #fff;
  color: #fff;
}
/* /header */

/* banner */
.banner {
  margin-top: 80px;
  width: 100%;
  height: 380px;
  background: url("../img/bg_home.jpg") no-repeat center;
  background-size: cover;
}

.banner .content {
  padding: 80px 0 50px 0;
  text-align: center;
}

.banner .content h1 {
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.banner .content blockquote {
  width: 300px;
  padding: 6px 0 40px 0;
  margin: 0 auto;
}

.banner .content blockquote p {
  color: #fff;
  margin: 12px 0;
  font-style: italic;
  line-height: 20px;
}

.banner .content blockquote p::before,
.banner .content blockquote p::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto;
  display: block;
}

.banner .content blockquote cite {
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-bottom: 40px;
}
/* /banner */

/* products */
.products .titleSection {
  padding-top: 60px;
}

.products .product-content {
  padding: 40px 0;
  /* display: inline-flex; */
}

.products .product-icon {
  height: 180px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product-description {
  background: #fec63e;
}

.products .product-description h3.subtitle {
  padding: 20px 0 10px 0;
}

.products .product-description p {
  padding: 0px 21px 10px 21px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.products .cta {
  margin-top: 280px;
}
/* /products */

/* portfolio */
.portfolio {
  padding-top: 60px;
  background: #000;
  width: 100%;
}

.portfolio .titleSection {
  color: #fec63e;
}

.portfolio .titleSection::after {
  background: #fec63e;
}

.portfolio .portfolio-content {
  padding: 40px 0;
  display: inline-block;
}

.portfolio .grid-16 {
  padding-top: 20px;
}

.portfolio .cta {
  color: #fff;
}
/* /portfolio */

/* quality */
.quality {
  padding-top: 60px;
}

.quality-content {
  padding-top: 40px;
}

.quality img {
  margin: 0 auto;
}

.quality::after {
  content: "";
  background: url("../img/lines.svg") no-repeat center;
  display: block;
  width: 600px;
  height: 85px;
  position: absolute;
  top: 230px;
  right: 180px;
  z-index: -1;
}

.quality .quality-content .quality-list {
  padding-top: 60px;
}

.quality .quality-content .quality-list .quality-item {
  padding: 0 15px 40px 15px;
  text-align: center;
}

.quality-list .subtitle::after {
  margin: 12px auto;
}
/* /quality */

/* break */
.breaker {
  width: 100%;
  background: url("../img/bg_footer.jpg") no-repeat center;
  background-size: cover;
  height: 220px;
  display: flex;
  align-items: center;
}

.breaker .container {
  text-align: center;
}

.breaker blockquote {
  width: 320px;
  padding: 6px 0 40px 0;
  margin: 0 auto;
}

.breaker blockquote p {
  color: #fff;
  margin: 12px 0;
  font-style: italic;
  line-height: 20px;
}

.breaker blockquote p::before,
.breaker blockquote p::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto;
  display: block;
}

.breaker blockquote cite {
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-bottom: 40px;
}
/* /break */

/* footer */
.footer {
  width: 100%;
  background: #000;
}

.footer .container {
  padding: 20px 0;
}

.footer .subtitle {
  text-align: left;
  color: #fec63e;
}

.footer .subtitle::after {
  background: #fec63e;
  margin: 12px 0;
}

.footer p {
  line-height: 20px;
  color: #fff;
}

.footer .history {
  padding-right: 80px;
}

.footer .contact ul li p {
  line-height: 40px;
}

.footer .social ul {
  display: flex;
  justify-content: space-between;
}

.footer .social ul li {
  width: 58px;
  height: 58px;
  border: 4px solid #fec63e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.footer .social ul li:hover {
  border-color: #ffffff;
  cursor: pointer;
}
/* /footer */

/* copyright */
.copyright {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #fec63e;
}
/* /copyright */

/* header-page */
.header-page {
  background: url("../img/bg_about.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 160px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-page h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

.header-page h1::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #fff;
  display: block;
  margin: 12px auto;
}

.header-page p {
  color: #fff;
  text-align: center;
}
/* /header-page */
